<div id="loginFormWrapper">
	{{> 'components/stage/stage'}}

	<div id="loginForm" class="loginFormular "
		data-resources="[{paths: ['components/loginFormular/ts/login.js?{{bioTrueEnv 'RELEASE_VERSION'}}']}]">
		<div class="loginFormular__headline">
			<h1>{{headline}}</h1>
		</div>

		{{> 'components/inputField/inputField' loginUser.[0]}}
		{{> 'components/inputField/inputField' loginPassword.[0]}}

		<a href="{{resetPasswordLink}}" target="_blank" class="loginFormular__passwordReset">{{resetPasswordLabel}}</a>
		<button id="loginSubmit" class="button__item button__primary">{{loginButtonText}}</button>
		<div class="loginFormular__register">
			<p class="loginFormular__register__infoText">{{{registerInfoText}}}</p>
			<a class="loginFormular__register__link" href="{{registerLink}}" target="_self">{{registerLinkLabel}}</a>
		</div>
	</div>
</div>