<div class="multiselectItem">
    <input type="checkbox" id="{{id}}" name="{{name}}" value="{{value}}" class="multiselectItem__input">
    <label for="{{id}}" class="multiselectItem__label">{{label}}</label>
</div>