<div id="{{selectWrapperId}}" class="select__wrapper"
	data-resources="[{paths: ['components/select/ts/select.js?{{bioTrueEnv 'RELEASE_VERSION'}}']}]">
	<select id="{{selectId}}" class="select__input" name="{{selectName}}" value="{{selectValue}}" {{#if selectRequired}}
		required {{/if}}>
		{{#each options}}
		<option id="{{this.id}}" value="{{this.value}}">
			{{this.label}}
		</option>
		{{/each}}
	</select>
</div>