<div class="radioButton"
    data-resources="[{paths: ['components/radioButton/ts/radioButton.js?{{bioTrueEnv 'RELEASE_VERSION'}}']}]">
    <div class="radioButton__contentWrapper">
        <input type="radio" id="{{id}}" name="{{name}}" value="{{value}}" class="radioButton__input">
        <label for="{{id}}" class="radioButton__label">{{label}}</label>
    </div>
</div>