<div class="checkbox__wrapper formWrapper__inputRow">
    <input id="{{checkboxInputId}}" class="checkbox__input" type="checkbox" name="{{checkboxName}}"
        value="{{checkboxValue}}" {{#if checkboxRequired}} required {{/if}}>
    <label id="{{checkboxLabelId}}" class="checkbox__label" for="{{checkboxInputId}}">{{{checkboxLabel}}}</label>
</div>