---
title: index
---

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{data.package.title}} | {{data.package.version}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>
        body {
            min-height: 2000px;
            padding: 70px 0;
        }

        .capitalize {
            text-transform: capitalize;
        }

        .anchor {
            padding-top: 65px;
            margin-top: -15px;
        }

        p {
            margin: 0;
        }

        .panel {
            margin-bottom: 0;
        }
    </style>
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{data.package.title}} {{data.package.version}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#each data.indexr}}
                    {{#if this.newSection}}
                    <li><a href="#category{{this.priority}}" class="capitalize">{{this.currentCategory}}</a></li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{package.title}} {{package.version}}</h3>
            </div>
            <div class="panel-body">
                This VI Frontend Framework is a framework to build state of the art websites with an approved UI look
                and feel. It provides ready-to-use layouts, design and functionaliy and incorporates many proven
                practices used to build excellent websites. It has an adaptive / responsive design, is build mobile
                first and while it makes use of modern browser's capabilities, it also works on browsers as ancient as
                Internet Explorer 9. We hope to save you and your team hundreds of hours of work - Hours which you can
                invest in better content and maybe even into helping us improve this framework.
                {{#if data.browserSupport}}
                <p>{{{data.browserSupport.message}}}</p>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                {{#each data.indexr}}
                {{#if this.newSection}}
                <h2 class="anchor capitalize" id="category{{this.priority}}">{{this.currentCategory}}</h2>
                {{/if}}
                <h4><a href="{{this.parsedFile.name}}.html">{{bioDef this.attributes.title this.parsedFile.name}}</a>
                    {{#if this.attributes.deprecated}}
                    <mark><em>deprecated</em></mark>
                    {{/if}}
                </h4>
                {{#if this.attributes.description}}
                <p>{{this.attributes.description}}</p>
                {{/if}}
                {{/each}}
            </div>
            <div class="col-sm-4">
                <h2 class="anchor">Categories</h2>
                <ul>
                    {{#each data.indexr}}
                    {{#if this.newSection}}
                    <li><a href="#category{{this.priority}}" class="capitalize">{{this.currentCategory}}</a></li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div>
            <h2>
                Login
            </h2>
            <ul>
                <li>
                    <h4><a target="_blank" href="./login.html">Login</a></h4>
                </li>
            </ul>
            <h2>Registrierungseiten</h2>
            <ul>
                <li>
                    <h4><a target="_blank" href="./registration.suchtberatung.html">CT 0 - Registrierung
                            Suchtberatung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.u25.html">CT 1 - Registrierung Beratung für
                            Suizidgefährdete junge
                            Menschen [U25]</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.gemeinsamstatteinsam.html">CT 1 - Registrierung
                            gemeinsamstatteinsam -
                            Onlineberatung für junge Menschen in besonderen Zeiten</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.schwangerschaftsberatung.html">CT 2 - Registrierung
                            Schwangerschaftsberatung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.eltern-familie.html">CT 3 - Registrierung Beratung
                            für
                            Eltern und Familien</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.kurberatung.html">CT 4 - Registrierung Kurberatung
                            für
                            Mütter und Väter</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.schuldnerberatung.html">CT 5 - Registrierung
                            Beratung zum
                            Thema Schulden</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.allgemeine-soziale-beratung.html">CT 6 -
                            Registrierung
                            Allgemeine
                            Sozialberatung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.leben-im-alter.html">CT 7 - Registrierung Leben im
                            Alter</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.behinderung-und-psychische-erkrankung.html">CT
                            8 - Registrierung Leben mit Behinderung und psychischer Erkrankung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.mein-planb.html">CT 9 - Registrierung Mein PlanB -
                            Beratung zwischen
                            Schule und Beruf</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.rechtliche-betreuung.html">CT 10 - Registrierung
                            Rechtliche
                            Betreuung und
                            Vorsorge</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.straffaelligkeit.html">CT 11 - Registrierung
                            Beratung für
                            Angehörige von
                            Straffälligen</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.hiv-aids-beratung.html">CT 12 - Registrierung
                            HIV/AIDS
                            Beratung</a>
                    </h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.kinder-reha.html">CT 13 - Registrierung Kinder- und
                            Jugend-Rehabilitation</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.kinder-jugendliche.html">CT 14 - Registrierung
                            Beratung für
                            Kinder und
                            Jugendliche</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.kb-sucht-selbsthilfe.html">CT 15 - Registrierung
                            Sucht-Selbsthilfe -
                            Kreuzbund-Chat</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.migration.html">CT 16 - Registrierung
                            Migrationsberatung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.rw-auswanderung.html">CT 17 - Registrierung
                            Aus-/Rück- & Weiterwanderung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.hospiz-palliativ.html">CT 18 - Registrierung
                            Hospiz-,
                            Palliativ- und
                            Trauerberatung</a></h4>
                </li>
                <li>
                    <h4><a target="_blank" href="./registration.regionale-angebote.html">CT
                            19 - Registrierung Regionale
                            Angebote</a></h4>
                </li>
            </ul>
        </div>

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>